<form [formGroup]="changePasswordForm">
  <div class="usuario-container">
    <h6>Cambiar Clave</h6>
    <mat-form-field>
      <input matInput placeholder="Clave Actual" formControlName="password" type="password" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nueva clave" formControlName="newPassword" type="password" />
    </mat-form-field>

    <div>
      <p></p>
      <button mat-button (click)="edit()">Actualizar</button>
      <button mat-button (click)="cancel()">Cancelar</button>
    </div>
  </div>
</form>
