mat-form-field {
  margin-right: 1rem;
}

mat-card-content {
  margin: 0;
}

mat-card-actions {
  text-align: left;
}

h1 {
  color: gray;
  font-size: 1rem;
}

.custom-prices-header {
  display: flex;
  mat-icon {
    color: #3f51b5;
    cursor: pointer;
    margin-top: -3px;
    margin-left: 10px;
  }
}

.mat-header-cell {
  font-weight: bold;
}

.mat-header-row,
.mat-row {
  height: 32px;
}

.mat-row:hover {
  background-color: #f7f7f7;
}

.mat-column-day {
  width: 7rem;
}

.mat-column-priceDay,
.mat-column-priceHour {
  width: 6rem;
  text-align: end;
}

.mat-column-startTime,
.mat-column-endTime {
  width: 5.5rem;
  text-align: center;
}

.mat-column-holiday {
  width: 4rem;
  text-align: center;
}

.mat-column-remove {
  width: 2rem;
  position: relative;
  text-align: center;
}
