<!-- <p>menu works!</p> -->
<div>
  <mat-nav-list>
    <mat-list-item routerLink="rooms">Habitaciones</mat-list-item>
    <mat-list-item routerLink="client">Clientes</mat-list-item>
    <mat-list-item routerLink="users">Usuarios</mat-list-item>
    <mat-list-item routerLink="items">Items</mat-list-item>
    <mat-list-item routerLink="hotels">Hotel</mat-list-item>
    <mat-list-item routerLink="employees">Empleados</mat-list-item>
    <mat-list-item routerLink="reports">Reportes</mat-list-item>
  </mat-nav-list>
</div>
