table.mat-table {
  display: table;
}

.items-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.tabla {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
