<form [formGroup]="addFormItem">
  <div class="items-container">
    <h6>Crear Items</h6>
    <mat-form-field>
      <input matInput placeholder="nombre" formControlName="name" name="name" id="name" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="descripcion" formControlName="description" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="quantity" min="0" placeholder="cantidad" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="price" placeholder="precio" min="0" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="stock" placeholder="stock" min="0" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="icoPercentage" placeholder="% Impuesto de consumo" min="0" max="30" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="ivaPercentage" placeholder="% IVA" min="0" max="30" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="taxPercentage" min="0" max="30" placeholder="Retención en la Fuente" required />
    </mat-form-field>

    <mat-label>Estado:</mat-label>
    <mat-radio-group name="active" id="active" formControlName="active">
      <ng-container *ngFor="let state of estados">
        <mat-radio-button value="{{ state.code }}">&nbsp;{{ state.description }}&nbsp;</mat-radio-button>
      </ng-container>
    </mat-radio-group>

    <button mat-button (click)="onSubmit()">Ingresar</button>
  </div>
</form>
