<h3>Información de Usuarios</h3>
<div>
  <button mat-button routerLink="add">
    <mat-icon aria-hidden="false" aria-label="Adicionar Usuario">account_circle </mat-icon>
  </button>
  <button mat-button routerLink="list">
    <mat-icon aria-hidden="false" aria-label="Listar Usuarios">list</mat-icon>
  </button>
</div>
<div class="menu-resource">
  <div>
    <a routerLink="list">Lista de Usuarios</a>
    <a [routerLink]="add">Crear Usuario</a>
  </div>
  <span>Gestión de Usuarios</span>
</div>

<router-outlet></router-outlet>
