<form [formGroup]="editFormItem">
  <div class="items-container">
    <h6>Editar Items</h6>
    <mat-form-field>
      <input matInput placeholder="nombre" formControlName="name" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="descripcion" formControlName="description" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="quantity" placeholder="cantidad" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="price" placeholder="precio" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="stock" placeholder="stock" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="icoPercentage" placeholder="% Impuesto de consumo" min="0" max="30" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="ivaPercentage" placeholder="% IVA" min="0" max="30" required />
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="taxPercentage" min="0" max="30" placeholder="Retención en la Fuente" required />
    </mat-form-field>

    <mat-label>Estado:</mat-label>
    <mat-radio-group formControlName="active">
      <ng-container>
        <mat-radio-button *ngFor="let state of estados" [value]="state">&nbsp;{{ state.description }}&nbsp;</mat-radio-button>
      </ng-container>
    </mat-radio-group>

    <button mat-button (click)="onSave()">Actualizar</button>
  </div>
</form>
