// @import '~bootstrap/scss/bootstrap.scss';
mat-card {
  padding: 0.1rem 1rem;
}

.info-container {
  width: 30rem;
}

.nos {
  display: flex;

  mat-form-field {
    margin-right: 0.5rem;
    flex-grow: 1;
    width: 0px;
  }
}

#id,
#type {
  width: 50%;
}

.button-container {
  margin: 1.5rem 0rem;

  &.center {
    text-align: center;
  }

  button {
    margin-right: 1rem;
  }
}

.items-container {
  display: flex;

  span {
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 0.5rem;
    display: block;
  }

  mat-card {
    margin: 0.1rem 1rem;
    padding: 0.5rem 1rem;
    &:last-child {
      flex-grow: 1;
    }
  }

  // .table-container {
  //   max-height: 20rem;
  //   overflow: auto;
  //   width: 100%;
  // }

  .mat-header-cell {
    font-weight: bold;
  }

  .mat-header-row,
  .mat-row {
    height: 32px;
  }

  .mat-row:hover {
    background-color: #f7f7f7;
  }

  table {
    width: 100%;
  }

  .mat-column-item {
    width: 60%;
  }

  .mat-column-quantity,
  .mat-column-requireCheck {
    width: 15%;
    text-align: center;
  }

  .mat-column-remove {
    width: 10%;
    position: relative;
    text-align: center;

    mat-icon {
      cursor: pointer;
      position: absolute;
      top: 4px;
      &:hover {
        color: #ff4081;
      }
    }
  }
}
