<div class="form-container">
  <h1>Crear cliente</h1>
  <form [formGroup]="clientForm">
    <mat-form-field>
      <input formControlName="document" matInput placeholder="Documento" required />
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="documentType" matInput placeholder="Tipo documento" required>
        <ng-container *ngFor="let documentType of documentTypes">
          <mat-option value="{{ documentType }}">{{ documentType.label }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Nombre completo" required />
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="bithdate" [matDatepicker]="myDatepicker" placeholder="Fecha de nacimiento" />
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="email" matInput placeholder="Correo electrónico" />
    </mat-form-field>
    <mat-form-field>
      <input formControlName="phone" matInput placeholder="Teléfono/Celular" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
  </form>
</div>
