/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

$color-header-avatar: #3147bf;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-toolbar {
  background-color: #3147bf;
  color: #fff;
}

.mat-card {
  margin: 1rem;
  .mat-card-header {
    .mat-card-header-text {
      margin: 0 !important;
    }
    .mat-card-title {
      font-size: 1rem;
      margin-bottom: 0;
    }
  }
}

.form-container {
  mat-form-field {
    display: block;
  }
  mat-card-actions {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

.menu-resource {
  background-color: #283a9c;
  display: flex;
  justify-content: space-between;
  line-height: 2rem;

  a {
    color: white;
    padding: 0 1rem;
    border-right: 2px solid #6f7284;
  }

  span {
    color: #d0d6f3;
    margin-right: 1rem;
  }
}

.subtitle {
  color: gray;
  font-size: 0.9rem !important;
}

button {
  margin-right: 1rem !important;
}

.noDataTable {
  padding: 1rem;
  font-style: italic;
  color: #949494;
}

/** Se sobreescriben los estilos de sweet alert. */

.swal2-icon {
  margin: 0 0 0.3rem;
  font-size: 0.7rem;
}

.swal2-header {
  position: absolute;
}

.swal2-actions {
  width: 80%;
  margin-left: 5rem;
  font-size: 0.9rem;
}

.swal2-content {
  width: 80%;
  margin-left: 5rem;
  font-size: 1rem;
}

.swal2-popup {
  width: 28em;
}

.swal2-styled {
  font-size: 0.9em !important;
}

/** Estilos generales para la tabla. */

.mat-header-cell {
  font-weight: bold;
}

tr.mat-header-row,
.mat-header-row,
.mat-row {
  height: 32px !important;
}

.mat-row:hover {
  background-color: #f7f7f7;
}

.mat-column-actions {
  text-align: end;
}

.action-column-icon {
  mat-icon {
    border-right: 1px solid lightgray;
    width: 28px;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;

    &:hover {
      color: #ff4081;
    }

    &:last-child {
      border-right: none;
    }
  }
}
